



  
   <div class="col-md-12 col-lg-12">
      
         
               
         <div class="col-md-12 col-lg-12">
            <div class="overflow-hidden card aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
               <div class="flex-wrap card-header d-flex justify-content-between">
                  <div class="header-title">
                     <h4 class="mb-2 card-title">Recent Bills</h4>
               
                  </div>
                  
               </div>
               <div class="p-0 card-body">
                  <div class="mt-4 table-responsive">
                     <table id="basic-table" class="table mb-0 table-striped" role="grid">
                        <thead>
                           <tr>
                             <th>CONNECTION</th>
                              <th>DATE</th>
                              <th>UNITS</th>
                              <th>AMOUNT</th>
                           </tr>
                        </thead>
                        <tbody>
                          
                           <% @customers.each do |customers| %>
                           <tr onclick="location.href='<%= official_dashboard_path %>';" onmouseover="this.style.cursor='pointer';">
                              <td>
                                 <div class="d-flex align-items-center">
                                   
                                    <h6><%= customers.name%></h6>
                                 </div>
                              </td>
                              <td>
                                <%= customers.username%>
                              </td>
                              <td><%= customers.mobileno%></td>
                              <td>
                                 <div class="mb-2 d-flex align-items-center">
                                    <h6><%= customers.name%></h6>
                                 </div>
                                
                                 
                              </td>
                           </tr>
                           
                           <% end %>
                           
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      
    </div>
    
  







  
   <div class="col-md-12 col-lg-12">
      
         
               
         <div class="col-md-12 col-lg-12">
            <div class="overflow-hidden card aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
               <div class="flex-wrap card-header d-flex justify-content-between">
                  <div class="header-title">
                     <h4 class="mb-2 card-title">Recent Grievances</h4>
               
                  </div>
                  
               </div>
               <div class="p-0 card-body">
                  <div class="mt-4 table-responsive">
                     <table id="basic-table" class="table mb-0 table-striped" role="grid">
                        <thead>
                           <tr>
                              <th>CONNECTION</th>
                              <th>DATE</th>
                              <th>PROBLEM</th>
                              <th>STATUS</th>
                           </tr>
                        </thead>
                        <tbody>
                          
                           <% @customers.each do |customers| %>
                           <tr onclick="location.href='<%= official_dashboard_path %>';" onmouseover="this.style.cursor='pointer';">
                              <td>
                                 <div class="d-flex align-items-center">
                                   
                                    <h6><%= customers.name%></h6>
                                 </div>
                              </td>
                              <td>
                                <%= customers.username%>
                              </td>
                              <td><%= customers.mobileno %></td>
                              <td>
                                 <div class="mb-2 d-flex align-items-center">
                                    <h6><%= customers.name%></h6>
                                 </div>
                                
                                 
                              </td>
                           </tr>
                           
                           <% end %>
                           
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      
    </div>
    
   
           



           