<aside class="sidebar sidebar-default navs-rounded-all">
  <div class="sidebar-header d-flex align-items-center justify-content-start">
    <a class="navbar-brand" href="<%= customer_dashboard_path %>"><%= image_tag "logo-square.svg", height: "30" %></a>
    <div class="sidebar-toggle" data-toggle="sidebar" data-active="true">
      <i class="icon">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.25 12.2744L19.25 12.2744" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M10.2998 18.2988L4.2498 12.2748L10.2998 6.24976" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </i>
    </div>
  </div>
  <div class="sidebar-body pt-0 data-scrollbar" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;"><div class="scroll-content">
      <div class="sidebar-list">
          <!-- Sidebar Menu Start -->
          <ul class="navbar-nav iq-main-menu" id="sidebar-menu">
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="<%= customer_dashboard_path %>">
                      <i class="icon">
                          <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path opacity="0.4" d="M16.0756 2H19.4616C20.8639 2 22.0001 3.14585 22.0001 4.55996V7.97452C22.0001 9.38864 20.8639 10.5345 19.4616 10.5345H16.0756C14.6734 10.5345 13.5371 9.38864 13.5371 7.97452V4.55996C13.5371 3.14585 14.6734 2 16.0756 2Z" fill="currentColor"></path>
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.53852 2H7.92449C9.32676 2 10.463 3.14585 10.463 4.55996V7.97452C10.463 9.38864 9.32676 10.5345 7.92449 10.5345H4.53852C3.13626 10.5345 2 9.38864 2 7.97452V4.55996C2 3.14585 3.13626 2 4.53852 2ZM4.53852 13.4655H7.92449C9.32676 13.4655 10.463 14.6114 10.463 16.0255V19.44C10.463 20.8532 9.32676 22 7.92449 22H4.53852C3.13626 22 2 20.8532 2 19.44V16.0255C2 14.6114 3.13626 13.4655 4.53852 13.4655ZM19.4615 13.4655H16.0755C14.6732 13.4655 13.537 14.6114 13.537 16.0255V19.44C13.537 20.8532 14.6732 22 16.0755 22H19.4615C20.8637 22 22 20.8532 22 19.44V16.0255C22 14.6114 20.8637 13.4655 19.4615 13.4655Z" fill="currentColor"></path>
                          </svg>
                      </i>
                      <span class="item-name">Dashboard</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="<%= customer_connections_new_path %>">
                      <i class="icon">
                        <svg width="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M8.148 7.40951C7.7184 7.46732 7.27268 7.52754 6.8279 7.67562C5.76386 8.07903 5.10001 9.19657 5.10001 10.3946C5.09812 11.063 5.41486 11.9084 5.73541 12.3876L8.295 16.3602V18.4398C8.295 19.9703 9.20256 21.2009 10.5122 21.4333C11.7697 21.6308 14.1435 21.679 15.527 21.4333C16.9107 21.2202 17.805 20.0449 17.805 18.4398V16.3602L20.4025 12.3105C20.6804 11.8951 20.999 11.1618 20.999 10.4874C21 10.4441 21 10.4055 21 10.367C21 9.14599 20.3115 8.07065 19.2503 7.66725C18.7989 7.51435 18.3759 7.46135 17.9672 7.40951L17.5622 7.35537C16.2488 7.14822 9.84269 7.14822 8.53872 7.35537L8.148 7.40951Z" fill="currentColor"/>
                          <path opacity="0.4" d="M16.8 2.65984V9.34015C16.8 9.64919 16.2624 9.89999 15.6 9.89999C14.9376 9.89999 14.4 9.64919 14.4 9.34015V2.65984C14.4 2.3508 14.9376 2.09999 15.6 2.09999C16.2624 2.09999 16.8 2.3508 16.8 2.65984Z" fill="currentColor"/>
                          <path opacity="0.4" d="M12 2.65984V9.34015C12 9.64919 11.4624 9.89999 10.8 9.89999C10.1376 9.89999 9.6 9.64919 9.6 9.34015V2.65984C9.6 2.3508 10.1376 2.09999 10.8 2.09999C11.4624 2.09999 12 2.3508 12 2.65984Z" fill="currentColor"/>
                          <path opacity="0.4" d="M14.4 22.9306V28.0694C14.4 28.3071 13.8624 28.5 13.2 28.5C12.5376 28.5 12 28.3071 12 28.0694V22.9306C12 22.6929 12.5376 22.5 13.2 22.5C13.8624 22.5 14.4 22.6929 14.4 22.9306Z" fill="currentColor"/>
                          <path opacity="0.4" d="M24.0459 3.48347H22.903V2.36604C22.903 1.88898 22.5204 1.5 22.049 1.5C21.5786 1.5 21.195 1.88898 21.195 2.36604V3.48347H20.054C19.5826 3.48347 19.2 3.87244 19.2 4.34953C19.2 4.82652 19.5826 5.21555 20.054 5.21555H21.195V6.33398C21.195 6.81107 21.5786 7.2 22.049 7.2C22.5204 7.2 22.903 6.81107 22.903 6.33398V5.21555H24.0459C24.5164 5.21555 24.9 4.82652 24.9 4.34953C24.9 3.87244 24.5164 3.48347 24.0459 3.48347Z" fill="currentColor"/>
                        </svg>
                      </i>
                      <span class="item-name">New Connection</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="<%= customer_connections_path %>">
                      <i class="icon">
                        <svg width="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M9.94799 7.40951C9.51839 7.46732 9.07267 7.52754 8.62789 7.67562C7.56385 8.07903 6.9 9.19657 6.9 10.3946C6.8981 11.063 7.21485 11.9084 7.53539 12.3876L10.095 16.3602V18.4398C10.095 19.9703 11.0025 21.2009 12.3122 21.4333C13.5697 21.6308 15.9435 21.679 17.327 21.4333C18.7107 21.2202 19.605 20.0449 19.605 18.4398V16.3602L22.2025 12.3105C22.4804 11.8951 22.799 11.1618 22.799 10.4874C22.8 10.4441 22.8 10.4055 22.8 10.367C22.8 9.14599 22.1115 8.07065 21.0503 7.66725C20.5989 7.51435 20.1759 7.46135 19.7672 7.40951L19.3622 7.35537C18.0488 7.14822 11.6427 7.14822 10.3387 7.35537L9.94799 7.40951Z" fill="currentColor"/>
                          <path opacity="0.4" d="M18.6 2.65984V9.34015C18.6 9.64919 18.0624 9.89999 17.4 9.89999C16.7376 9.89999 16.2 9.64919 16.2 9.34015V2.65984C16.2 2.3508 16.7376 2.09999 17.4 2.09999C18.0624 2.09999 18.6 2.3508 18.6 2.65984Z" fill="currentColor"/>
                          <path opacity="0.4" d="M13.8 2.65984V9.34015C13.8 9.64919 13.2624 9.89999 12.6 9.89999C11.9376 9.89999 11.4 9.64919 11.4 9.34015V2.65984C11.4 2.3508 11.9376 2.09999 12.6 2.09999C13.2624 2.09999 13.8 2.3508 13.8 2.65984Z" fill="currentColor"/>
                          <path opacity="0.4" d="M16.2 22.9306V28.0694C16.2 28.3071 15.6624 28.5 15 28.5C14.3376 28.5 13.8 28.3071 13.8 28.0694V22.9306C13.8 22.6929 14.3376 22.5 15 22.5C15.6624 22.5 16.2 22.6929 16.2 22.9306Z" fill="currentColor"/>
                        </svg>
                      </i>
                      <span class="item-name">Connections</span>
                  </a>
              </li>
              <li><hr class="hr-horizontal"></li>
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="<%= customer_logout_path %>">
                      <i class="icon">
                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path opacity="0.4" d="M2 6.447C2 3.996 4.03024 2 6.52453 2H11.4856C13.9748 2 16 3.99 16 6.437V17.553C16 20.005 13.9698 22 11.4744 22H6.51537C4.02515 22 2 20.01 2 17.563V16.623V6.447Z" fill="currentColor"></path>
                          <path d="M21.7787 11.4548L18.9329 8.5458C18.6388 8.2458 18.1655 8.2458 17.8723 8.5478C17.5802 8.8498 17.5811 9.3368 17.8743 9.6368L19.4335 11.2298H17.9386H9.54826C9.13434 11.2298 8.79834 11.5748 8.79834 11.9998C8.79834 12.4258 9.13434 12.7698 9.54826 12.7698H19.4335L17.8743 14.3628C17.5811 14.6628 17.5802 15.1498 17.8723 15.4518C18.0194 15.6028 18.2113 15.6788 18.4041 15.6788C18.595 15.6788 18.7868 15.6028 18.9329 15.4538L21.7787 12.5458C21.9199 12.4008 21.9998 12.2048 21.9998 11.9998C21.9998 11.7958 21.9199 11.5998 21.7787 11.4548Z" fill="currentColor"></path>
                        </svg>
                      </i>
                      <span class="item-name">Logout</span>
                  </a>
              </li>
          </ul>
        </div>
      </div>
      <div class="scrollbar-track scrollbar-track-x" style="display: none;">
        <div class="scrollbar-thumb scrollbar-thumb-x" style="width: 259px; transform: translate3d(0px, 0px, 0px);"></div>
      </div>
      <div class="scrollbar-track scrollbar-track-y" style="display: block;">
        <div class="scrollbar-thumb scrollbar-thumb-y" style="height: 654.242px; transform: translate3d(0px, 0px, 0px);"></div>
      </div>
    </div>
  <div class="sidebar-footer"></div>
</aside>
