
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-8">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="header-title">
          <h4 class="card-title">New Grievance Details</h4>
        </div>
      </div>
      <div class="card-body">
        <%= form_with model:@grievance ,url: official_grievance_patch_path do |form| %>
          <div class="form-group">
          <div class="text-dark">
            <%= form.label :problem %>
            <%= form.text_field :problem, class: "form-control" ,readonly: true%>
          </div>
          </div>
          <div class="form-group">
           <div class="text-dark">
            <%= form.label :description %>
            <%= form.text_area :description, class: "form-control", rows: "4",readonly: true%>
          </div>
          </div>
          <div class="form-group">
          <div class="text-dark">
            <%= form.label :remarks %>
            <%= form.text_area :remarks, class: "form-control"%>
          </div>
          </div>
          <div class="form-group">
           <div class="text-dark">  
           <%= form.label :status %>
           <br>
           
            <%= form.select :status, ['Pending', 'Work in Progress', 'Resolved'], selected: @grievance.status ,class: "form-select" %>
          
          </div>
          </div>
          <div class="d-flex justify-content-center">
            <%= form.submit "Submit", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>