

    <div class="card aos-init aos-animate" data-aos="fade-up" data-aos-delay="800">
  <div class="card-header">
    <h4 class="card-title">Bills</h4>
  </div>
  <div class="card-body">
    <% if @bills.length > 0 %>
      <table class="table table-striped table-hover table responsive">
        <tr>
          <th scope="col">Connection</th>
          <th scope="col">Date</th>
          <th scope="col">Units</th>
          <th scope="col">Amount</th>
          <th scope="col">Status</th>
        <tr>
        <% @bills.each do |bill| %>
          <tr onclick="location.href='<%= official_dashboard_path %>';" onmouseover="this.style.cursor='pointer';">
            <td><%= bill.connection.name %></td>
            <td><%= bill.created_at.strftime("%b %d, %Y") %></td>
            <td><%= bill.units %></td>
            <td><%= bill.amount %></td>
            <td><%= bill.status %></td>
          </tr>
        <% end %>
      </div>
    <% else %>
      <diV class="my-4 d-flex align-items-center justify-content-center">
        <h5 class="text-muted text-center">No bills generated yet!</h5>
      </div>
    <% end %>
  </div>
</div>