<div class="row">
  <div class="col">
    <div class="card aos-init aos-animate" data-aos="fade-up" data-aos-delay="800">
      <div class="card-header">
        <h4 class="card-title">Connection Details</h4>
      </div>
      <div class="card-body">
      <div class="mb-3">
        <label class="text-muted fw-bold">Name</label>
        <p class="text-dark"><%= @connection.name %></p>
      </div>
      <div class="mb-3">
        <label class="text-muted fw-bold">Address</label>
        <p class="text-dark"><%= @connection.address %></p>
      </div>
      <div class="mb-3">
        <label class="text-muted fw-bold">Type</label>
        <p class="text-dark"><%= @connection.connection_type %></p>
      </div>
      <div class="mb-3">
        <label class="text-muted fw-bold">Phase</label>
        <p class="text-dark"><%= @connection.phase %></p>
      </div>
      <div class="mb-3">
        <label class="text-muted fw-bold">Area</label>
        <p class="text-dark"><%= @connection.area %></p>
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-lg-3">
    <div class="card aos-init aos-animate" data-aos="fade-up" data-aos-delay="800">
      <div class="card-body d-flex flex-column align-items-center justify-content-center">
      <% if @show_upload_link %>
        <div class="icon text-primary">
          <svg width="128" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M9.18824 3.74722C9.18824 3.33438 8.84724 3 8.42724 3H8.42624L6.79724 3.00098C4.60624 3.00294 2.82324 4.75331 2.82324 6.90279V8.76201C2.82324 9.17386 3.16424 9.50923 3.58424 9.50923C4.00424 9.50923 4.34624 9.17386 4.34624 8.76201V6.90279C4.34624 5.57604 5.44624 4.4964 6.79824 4.49444L8.42724 4.49345C8.84824 4.49345 9.18824 4.15907 9.18824 3.74722ZM17.1931 3.00029H15.6001C15.1801 3.00029 14.8391 3.33468 14.8391 3.74751C14.8391 4.15936 15.1801 4.49277 15.6001 4.49277H17.1931C18.5501 4.49277 19.6541 5.57535 19.6541 6.90603V8.7623C19.6541 9.17415 19.9951 9.50952 20.4151 9.50952C20.8361 9.50952 21.1761 9.17415 21.1761 8.7623V6.90603C21.1761 4.75165 19.3901 3.00029 17.1931 3.00029ZM9.23804 6.74266H14.762C15.367 6.74266 15.948 6.98094 16.371 7.40554C16.797 7.83407 17.033 8.40968 17.032 9.00883V10.2542C17.027 10.4003 16.908 10.5189 16.759 10.5229H7.23904C7.09104 10.518 6.97204 10.3993 6.96904 10.2542V9.00883C6.95804 7.76837 7.97404 6.75541 9.23804 6.74266Z" fill="currentColor"></path>
            <path d="M22.239 12.0413H1.762C1.342 12.0413 1 12.3756 1 12.7885C1 13.2003 1.342 13.5337 1.762 13.5337H2.823V17.0972C2.823 19.2467 4.607 20.9971 6.798 20.999L8.427 21C8.848 21 9.188 20.6656 9.189 20.2528C9.189 19.841 8.848 19.5066 8.428 19.5066L6.8 19.5056C5.447 19.5036 4.346 18.424 4.346 17.0972V13.5337H6.969V14.5251C6.959 15.7656 7.974 16.7795 9.238 16.7913H14.762C16.027 16.7795 17.042 15.7656 17.032 14.5251V13.5337H19.655V17.0933C19.655 18.425 18.551 19.5066 17.194 19.5066H15.601C15.18 19.5066 14.839 19.841 14.839 20.2528C14.839 20.6656 15.18 21 15.601 21H17.194C19.39 21 21.177 19.2487 21.177 17.0933V13.5337H22.239C22.659 13.5337 23 13.2003 23 12.7885C23 12.3756 22.659 12.0413 22.239 12.0413Z" fill="currentColor"></path>
          </svg>
        </div>
        <h5 class="text-center">
          Upload this month's meter reading
        </h5>
      <% else %>
        <h5 class="text-center">
          You've already uploaded this month's reading. Check again next month!
        </h5>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="card aos-init aos-animate" data-aos="fade-up" data-aos-delay="800">
  <div class="card-header">
    <h4 class="card-title">Bill History</h4>
  </div>
  <div class="card-body">
    <% if @bills.length > 0 %>
      <table class="table table-striped table-hover table responsive">
        <thead>
          <tr>
            <th scope="col">Connection</th>
            <th scope="col">Date</th>
            <th scope="col">Units</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% @bills.each do |bill| %>
            <tr style="cursor: pointer;" onclick="location.href='<%= customer_connection_bill_path(@connection, bill) %>'">
              <td><%= bill.connection.name %></td>
              <td><%= bill.created_at.localtime.to_formatted_s(:long) %></td>
              <td><%= bill.units || "N/A" %></td>
              <td><%= bill.amount || "N/A" %></td>
              <td><%= bill.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="my-4 d-flex align-items-center justify-content-center">
        <h5 class="text-muted text-center">No bills generated yet!</h5>
      </div>
    <% end %>
  </div>
</div>
<div class="card aos-init aos-animate" data-aos="fade-up" data-aos-delay="800">
  <div class="card-header d-flex justify-content-between">
    <h4 class="card-title">Grievance History</h4>
    <a href="<%= customer_connection_grievances_new_path(@connection.id) %>" class="btn btn-primary btn-sm">
      New Grievance
    </a>
  </div>
  <div class="card-body">
    <% if @grievances.length > 0 %>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Problem</th>
              <th scope="col">Connection</th>
              <th scope="col">Updated</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <% @grievances.each do |grievance| %>
              <tr style="cursor: pointer;" onclick="location.href='<%= customer_connection_grievance_path(@connection, grievance) %>'">
                <td><%= grievance.created_at.strftime("%b %d, %Y") %></td>
                <td><%= grievance.problem %></td>
                <td><%= grievance.connection.name %></td>
                <td><%= grievance.updated_at.strftime("%b %d, %Y") %></td>
                <td><%= grievance.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <diV class="my-4 d-flex align-items-center justify-content-center">
        <h5 class="text-muted text-center">Wow, no complaints so far!</h5>
      </div>
    <% end %>
  </div>
</div>
