<!DOCTYPE html>
<html>
  <head>
    <title>Register | Smartvolt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <link href="https://cdn.jsdelivr.net/gh/iqonicdesignofficial/hope-ui-design-system@main/dist/assets/css/hope-ui.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/gh/iqonicdesignofficial/hope-ui-design-system@main/dist/assets/js/hope-ui.js"></script>
  </head>
  <body class="min-vh-100 d-flex flex-column justify-content-between">
    <main class="flex-grow">
      <div>
        <div class="row m-0 align-items-center bg-white vh-100">
          <div class="col-md-6 d-md-block d-none bg-primary p-0 mt-n1 vh-100 overflow-hidden">
            <%= image_tag "register-bg.png", class: "gradient-main animated-scaleX" %>
          </div>
          <div class="col-md-6">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
              <div class="card card-transparent auth-card shadow-none d-flex justify-content-center mb-0">
                <div class="card-body">
                  <a href="<%= root_path %>" class="navbar-brand d-flex align-items-center justify-content-center mb-3">
                    <%= image_tag "logo-full.svg", height: "20" %>
                  </a>
                  <h2 class="mb-2 text-center">Register</h2>
                  <%= yield %>
                </div>
              </div>    
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
